<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="AppgainPlugin" version="0.0.1">
    <name>AppgainPlugin</name>

    <description>An Android Cordova plugin that allows users to display simple Toast messages at the bottom of the screen.</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/MrFo2sh/Cordova-SDK.git</repo>
    <issue>https://github.com/MrFo2sh/Cordova-SDK/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/AppgainPlugin.js" name="AppgainPlugin">
        <clobbers target="AppgainPlugin" />
    </js-module>
    <platform name="android">
        <framework src="/src/android/dependencies.gradle" custom="true" type="gradleReference"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppgainPlugin">
                <param name="android-package" value="com.appgain.cordova.plugin.AppgainPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/AppgainPlugin.java" target-dir="src/com/appgain/cordova/plugin" />
    </platform>
</plugin>